<!--@author :hly
@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
@date :2018/8/4
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/foot.css" type="text/css" rel="stylesheet">
</head>
<body>
<div th:fragment="footer" class="foot">
    <ul>
        <li><a href="https://github.com/SiriusHly" target="_blank">联系作者</a></li>
        <li><a href="javascript:;" target="_blank">网站首页</a></li>
        <li><a href="javascript:;" target="_blank">企业合作</a></li>
        <li><a href="javascript:;" target="_blank">人才招聘</a></li>
        <li><a href="javascript:;" target="_blank">招程序猿</a></li>
        <li><a href="javascript:;" target="_blank">常见问题</a></li>
        <li><a href="javascript:;" target="_blank">意见反馈</a></li>
        <li><a href="javascript:;" target="_blank">拜师求学</a></li>
        <li><a href="javascript:;" target="_blank"></a></li>
        <li><a href="javascript:;" target="_blank"></a></li>
        <li><a href="javascript:;" target="_blank"></a></li>
    </ul>
    <div id="ower">
        Copyright&nbsp&copy&nbsp2018&nbsp huangliangyun.top &nbspAll Rights Reserved&nbsp|&nbsp琼&nbspICP备01号
    </div>

</div>
</body>
</html>