<!--@author :hly
@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
@date :2018/8/1
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>article</title>
    <link href="../../static/css/article/article_index.css" type="text/css" rel="stylesheet" th:href="@{/css/article/article_index.css}">
</head>
<body>

    <header th:fragment="header">
        <nav id="nav">
            <ul>
                <li><a th:href="@{/index}" target="_blank">黄良运的博客</a></li>
                <li><a th:href="@{/user/login}" target="_blank">ADMIN</a></li>
                <li><a th:href="@{/historyArticles}" target="_blank">HISTORY</a></li>
                <li><a th:href="@{/about}" target="_blank">ABOUT ME</a></li>
                <li><a th:href="@{/index}" title="首页">HOME</a></li>
            </ul>
            <!-- <script src="../../js/article_current_nav.js" type="text/javascript"></script>-->
        </nav>
        <div class="article_image">
            <figure>
                <figcaption>
                    黄良运的博客
                    <p>种一棵树最好的时间是十年前，其次是现在。</p>
                </figcaption>
            </figure>

        </div>
        <!--导航图片结束-->
    </header>
    <!--导航结束-->
</body>
</html>