<!--@author :hly
@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
@date :2018/8/4
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sirius's blog</title>
    <link rel="stylesheet" type="text/css" href="../../static/libs/assets/bootstrap-3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/admin/admin.css"  />
    <script src="../../static/libs/assets/jquery/jquery-3.1.1.js" ></script>
</head>
<body>
<div id="page-container">
    <header th:fragment="admin_nav">
        <nav>
            <ul>
                <li class="left_float"><a href="#">
                    <span class="glyphicon glyphicon-home"></span>
                </a></li>
                <li class="left_float"><a href="javascript:"><h4>文章管理中心</h4></a></li>
                <li class="right_float"><a th:href="@{/admin/logout}">注销</a></li>
                <li class="right_float"><a th:href="@{/index}"><img src="../../static/images/thyme_images/img_99.jpg" th:src="@{/images/thyme_images/img_99.jpg}"></a>
                </li>
                <li class="right_float"><a th:href="@{/admin/writing/edition}" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp写文章
                </a>
                </li>
            </ul>
        </nav>
    </header>
    <!--导航结束-->
</div>
</body>
</html>