<!--@author :hly
@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
@date :2018/8/1
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>article</title>
    <link href="../../static/css/article/article_index.css" type="text/css" rel="stylesheet">
</head>
<body>
<!--右边栏开始-->
<aside th:fragment="article_info">
    <div class="web-info">
        <h2>关于作者</h2>
        <ul class="user-info">
            <li class="user-profile"><img src="../../static/images/thyme_images/img_99.jpg"
                                          th:src="@{/images/thyme_images/img_99.jpg}"/></li>
            <li class="user-nickname">天狼星</li>
            <li class="user-wisdom">相信时间的力量，做时间的朋友</li>

            <li class="contact-user">
                <ul>
                    <li>
                        <a id="weChatBtn">
                            <img src="../../static/images/user/wechat.jpg" th:src="@{/images/user/wechat.jpg}"/>
                        </a>
                    </li>
                    <li>
                        <a href="//shang.qq.com/wpa/qunwpa?idkey=4d1b248a81fd3e64c8eda3bdcf257adf6c6b17cfe6322ec5fcec3d669ec35bef"
                           target="_blank"><img src="../../static/images/user/qq.jpg" th:src="@{/images/user/qq.jpg}"/></a>
                    </li>
                    <li><a href="https://github.com/huangliangyun" target="_blank"><img
                            src="../../static/images/user/github.jpg" th:src="@{/images/user/github.jpg}"/></a></li>
                    <li><a href="https://blog.csdn.net/Sirius_hly" target="_blank"><img
                            src="../../static/images/user/csdn.jpg" th:src="@{/images/user/csdn.jpg}"/></a></li>
                </ul>
            </li>

        </ul>

        <ul class="blog-info">
            <li>文章&nbsp;<span>435</span></li>
            <li>浏览&nbsp;<span>141241</span></li>
        </ul>
    </div>

    <div class="article-classify">
        <h2>文章分类</h2>

        <ul>
            <li>
                <a href="javascript:">微服务<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">Docker<span>19篇</span></a>
            </li>
            <li>
                <a href="javascript:">SpringCloud<span>17篇</span></a>
            </li>
            <li>
                <a href="javascript:">SpringBoot<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">J2EE<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">SSM框架<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">Java<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">数据库<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">区块链<span>18篇</span></a>
            </li>
        </ul>

    </div>
    <!--文章分类结束-->
    <!--文章归档-->

    <div class="article-classify article-archived">
        <h2>文章归档</h2>
        <ul>
            <li>
                <a href="javascript:">2018年10月<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">2018年09月<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">2018年08月<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">2018年07月<span>18篇</span></a>
            </li>
            <li>
                <a href="javascript:">2018年06月<span>18篇</span></a>
            </li>
        </ul>
    </div>
    <!--文章归档结束-->
</aside>
</body>

</html>