<!--@author :hly
@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
@date :2018/11/14
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>article</title>
    <link rel="shortcut icon" href="../../static/images/user/hly.jpg" type="image/x-icon"
          th:href="@{/images/user/hly.jpg}"/>
    <link href="../../static/libs/assets/bootstrap-3.3.7/css/bootstrap.css"
          th:href="@{/libs/assets/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link href="../../static/css/article/article_history.css" th:href="@{/css/article/article_history.css}"
          type="text/css" rel="stylesheet">
    <!--<script src=../../static/js/header-sidebar.js" th:src="@{/js/header-sidebar.js}"></script>-->
</head>
<body>
<header>
    <nav id="nav">
        <ul>
            <li><a th:href="@{/index}" target="_blank">黄良运的博客</a></li>
            <li><a th:href="@{/user/login}" target="_blank">ADMIN</a></li>
            <li><a th:href="@{/historyArticles}" target="_blank">HISTORY</a></li>
            <li><a th:href="@{/about}" target="_blank">ABOUT ME</a></li>
            <li><a th:href="@{/index}" title="首页" target="_blank">HOME</a></li>
        </ul>
    </nav>
    <div class="article_image">
        <figure>

            <figcaption>
                HISTORY ARTICLE
                <p>很多事情并不是有希望才去坚持，而是坚持了才有希望。</p>
            </figcaption>
        </figure>

    </div>
    <!--导航图片结束-->
</header>
<!--导航结束-->

<div id="main">
    <div class="article-history">
        <div class="article-history-tag">
            <a th:href="@{/historyArticles}">ALL ARTICLES<sup th:text="${categoryNum}">145</sup></a>
            <a th:each="category:${categoryList}" th:href="@{'/category/'+${category.categoryId}}" th:inline="text"
               >[[${category.categoryName}]]<sup th:text="${category.categoryArticleNum}">19</sup>
            </a>
        </div>
        <div class="article-history-lists">
            <section>
                <ul>
                    <li th:each="article:${articleList}">
                        <a th:href="@{'/articleDetail/'+${article.articleId}}" th:text="${article.articleTitle}">微服务架构的搭建</a>
                        <span th:text="${article.articleCreateTime}">2018/11/14</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<!--页脚-->
<div th:include="common/foot::footer" class="foot"></div>
<!--页脚结束-->
</body>
</html>