<!--@author :hly
@github :github.com/SiriusHly
@blog :blog.csdn.net/Sirius_hly
@date :2018/8/1
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>黄良运的博客</title>
    <link href="../../static/libs/assets/bootstrap-3.3.7/css/bootstrap.css" th:href="@{/libs/assets/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="../../static/images/user/hly.jpg" type="image/x-icon" th:href="@{/images/user/hly.jpg}"/>
    <link href="../../static/css/article/article_index.css" th:href="@{/css/article/article_index.css}" type="text/css"
          rel="stylesheet">
</head>

<body>
<header th:replace="common/head :: header"></header>
<!--导航结束-->

<div id="main">

    <div class="articles">
        <!--文章列表开始-->
        <ul class="article_lists">
            <li th:each="article:${articleList}">
                <div class="article_list">
                    <h2 class="article_title"><a th:text="${article.articleTitle}" th:href="@{'/articleDetail/'+${article.articleId}}">SpringBoot通</a>
                    </h2>
                    <div class="article_Info">
                        <a th:href="@{'/articleDetail/'+${article.articleId}}"><img src="../../static/images/article_images/img_12.jpg"
                                                           th:src="@{'/images/article_images/img_'+ ${article.articleId%10}+'.jpg'}"></a>
                        <p><a th:href="@{'/articleDetail/'+${article.articleId}}" th:text="${#strings.abbreviate(article.articleContent,200)}"> Spring
                            Boot是由Pivotal团队提供的全新框架，其设计目的是用来简化新Spring应用的初始搭建以及开发过程。该框架使用了特定的方式来进行配置，从而使开发人员不再需要定义样板化的配置。</a></p>
                    </div>
                    <ul class="article_detail">
                        <li class="article_like">浏览&nbsp;<a th:text="${article.articleViewCount}">22</a></li>
                        <li class="article_create_time">时间&nbsp;<a th:text="${article.articleCreateTime}">2018-10-1 12:123:01</a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
        <!--文章列表结束-->
        <!--右边栏开始-->
        <aside th:replace="~{article/article_info::article_info}"></aside>
        <!--右边栏结束-->
    </div>
    <!--文章部分结束-->
</div>
<!--main结束-->
<!--分页开始-->

<div class="page">
    <!--uetxt能解析html-->
    <ul class="pagination" th:utext="${pageCode}">

    </ul>
</div>
<!--分页结束-->
<!--页脚-->

<!--页脚-->
<div th:include="common/foot::footer" class="foot"></div>
<!--页脚结束-->

</body>
<script src="../../static/js/header-sidebar.js" th:src="@{/js/header-sidebar.js}"></script>
<!--隐藏滑轮依赖-->
<script src="../../static/libs/assets/jquery/jquery-3.1.1.js"
        th:src="@{/libs/assets/jquery/jquery-3.1.1.js}"></script>
<script src="../../static/libs/assets/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js"
        th:src="@{/libs/assets/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js}"></script>

<!--slimScroll在使用的时候要依赖JQ，所以首次使用的时候要引入JQ再引入simScroll插件，不能放到js前面，不然显示不出-->
<script src="../../static/libs/assets/slimscroll/jquery.slimscroll.min.js"
        th:src="@{/libs/assets/slimscroll/jquery.slimscroll.min.js}"></script>

<script src="../../static/libs/assets/layer-v3.1.1/layer/layer.js" th:src="@{/libs/assets/layer-v3.1.1/layer/layer.js}"></script>
<script src="../../static/js/article_index.js" th:src="@{/js/article_index.js}"></script>
</html>