<!--@author :hly
@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
@date :2018/8/1
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>黄良运的博客</title>
    <link href="../../static/css/article/article_index.css" type="text/css" rel="stylesheet" th:href="@{/css/article/article_index.css}">
</head>
<body>
<!--右边栏开始-->
<aside th:fragment="article_info">
    <div class="web-info" name="article-slim-scroll">
        <h2>关于作者</h2>
        <ul class="user-info">
            <li class="user-profile"><img src="../../static/images/thyme_images/img_99.jpg"
                                          th:src="@{/images/thyme_images/img_99.jpg}"/></li>
            <li class="user-nickname">天狼星</li>
            <li class="user-wisdom">相信时间的力量，做时间的朋友</li>

            <li class="contact-user">
                <ul>
                    <li>
                        <a id="weChatBtn">
                            <img src="../../static/images/user/wechat.jpg" th:src="@{/images/user/wechat.jpg}"/>
                        </a>
                    </li>
                    <li>
                        <a href="//shang.qq.com/wpa/qunwpa?idkey=4d1b248a81fd3e64c8eda3bdcf257adf6c6b17cfe6322ec5fcec3d669ec35bef"
                           target="_blank"><img src="../../static/images/user/qq.jpg" th:src="@{/images/user/qq.jpg}"/></a>
                    </li>
                    <li><a href="https://github.com/huangliangyun" target="_blank"><img
                            src="../../static/images/user/github.jpg" th:src="@{/images/user/github.jpg}"/></a></li>
                    <li><a href="https://blog.csdn.net/Sirius_hly" target="_blank"><img
                            src="../../static/images/user/csdn.jpg" th:src="@{/images/user/csdn.jpg}"/></a></li>
                </ul>
            </li>
        </ul>

        <ul class="blog-info">
            <li>文章&nbsp;<span>435</span></li>
            <li>浏览&nbsp;<span>141241</span></li>
        </ul>
    </div>

    <div class="article-classify" name="article-slim-scroll" >
        <h2>文章分类</h2>
        <ul>
            <li>
                <a th:href="@{/index}" >所有文章<span th:text="${articleNum}">18篇</span></a>
            </li>
            <li th:each="category:${categoryList}">
                <a th:href="@{'/index/category/'+${category.categoryId}}" th:inline="text">[[${category.categoryName}]]<span th:text="${category.categoryArticleNum}">18篇</span></a>
            </li>
        </ul>
    </div>
    <!--文章分类结束-->
    <!--文章归档-->

    <div class="article-classify article-archived" name="article-slim-scroll" th:scrolling="no">
        <h2>文章归档</h2>
        <ul>
            <li th:each="timeMap:${articleByMonthMapList}">
                <a th:href="@{'/index/time/'+${timeMap.createYear}+'/'+${timeMap.createMonth}}" th:inline="text">[[${timeMap.createYear}]]年[[${timeMap.createMonth}]]月<span th:text="${timeMap.articleNum+'篇'}">18篇</span></a>
            </li>
        </ul>
    </div>
    <!--文章归档结束-->
</aside>
</body>

</html>