/**
*@author :hly
*@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
*@date :2018/8/13
*/
/**
*@author :hly
*@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
*@date :2018/8/1
*/

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {

    background-color: rgba(252, 255, 232, 0.4);
}

a {
    text-decoration: none;
    color: #0f0f0f;
    transition: all 1s ease;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    text-decoration: none;
    list-style-type: none;
}

header {
    width: 100%;
    /*border: 1px solid red;*/
    /*设置最小宽度和main最小宽度相同，缩小后布局完整*/
    min-width: 1200px;
    position: relative;
}

header nav {
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    /*border: 1px solid red;*/
    padding-top: 15px;
    text-align: center;
    background-color: rgba(244, 244, 244, 0.0);
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    /*z-index：正数，离用户更近*/
    z-index: 1;
}

header nav ul li a {
    color: #f4f4f4;
    padding: 0 15px;
    margin: 10px;
    display: block;
    float: right;
    line-height: 15px;
}
header nav ul li:first-child a{
    font-size: 18px;
    float: left;
}
header nav ul li a:hover, #current_nav {
    color: #892809;
    /*background-color: rgba(20, 20, 20, 0.8);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.7);*/
    border-radius: 6px;
}

/*图片*/
header .article_image {

    clear: both;
    width: 100%;
    margin: 0 auto 10px;
    /*border: 1px solid red;*/
}

header .article_image figure {

    display: block;
    /*border: 1px solid green;*/
    position: relative;
}

header .article_image figure figcaption {
    color: white;
    font-size: 55px;
    font-weight: bolder;
    /*opacity：0.0-1.0透明到完全不透明*/
    opacity: 1;
    padding: 20px;
    /*绝对布局居中：https://www.cnblogs.com/yanglulin/p/5313670.html*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

header .article_image figure figcaption p {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

/*.article_image figure:hover figcaption {
    opacity: 1;
}*/

header .article_image figure {
    background: url("../../images/thyme_images/img_99.jpg");
    background-size: 100%;
    width: 100%;
    /*这里最小宽度和#main最小宽度相同，响应式效果*/
    min-width: 1200px;
    height: 420px;
}

/*导航部分结束*/
/*内容开始*/
/*外层高度设为自动，随内层高度增加，加上overflow，可以显示页脚？*/
#main {
    width: 100%;
    height: auto;
    overflow: hidden;
    /*这里最小宽度和图片最小宽度相同，响应式效果*/
    min-width: 1200px;
    /*border: 1px solid red;*/
}

/*页脚开始*/
.foot {
    min-width: 1200px;
    margin-top: 20px;
    width: 100%;
    height: 110px;
    background-color: #1c1f21;
    font-size: 12px;
}

.foot ul {
    margin-left: 140px;
}

.foot ul li {
    margin-top: 30px;
    margin-left: 35px;
    display: inline-block;
}

.foot ul li a {
    float: left;
    text-decoration: none;
    color: white;
}

#ower {
    margin-left: 175px;
    color: #dddddd;
}

/*页脚结束*/

.article_detail_panel {
    /*min-height: 3500px;*/
    min-height: 1600px;
    width: 1100px;
    /*float: left;*/
    margin: 20px auto 10px;
    height: auto;
    overflow: auto;
    border: none;
}

.article_chapter {
    margin: 20px auto 0;
    width: 1100px;
    height: 80px;
    /*border: 1px solid red;*/

}

.article_chapter li {
   /* border: 1px solid #cee6e6;*/
    height: 67px;
    width: 280px;
}

.article_chapter li > a{
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    background-color: #005565;
    /*https://www.cnblogs.com/Ry-yuan/p/6848197.html*/
    /*使元素独占一行*/
    display: inline-block;
    padding: 13px;
    /*相同时速过渡，快速变色*/
    transition: linear;
}

.article_chapter li a:hover span{
    color: white;
}
.article_chapter li a:hover{
    background-color: #005565;
    color: white;
}

.article_chapter li a span{
    color: #e6bc77;
    font-weight: normal;
}

.article_chapter .previous {

    float: left;
}

.article_chapter .next {
    float: right;
}