/**
*@author :hly
*@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
*@date :2018/11/14
*/

/**
*@author :hly
*@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
*@date :2018/8/13
*/
/**
*@author :hly
*@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
*@date :2018/8/1
*/

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {

    background: linear-gradient(#212741, rgb(37, 43, 68)); /* 标准的语法（必须放在最后） */
    /*background-color: rgba(252, 255, 232, 0.4);*/
}

a {
    text-decoration: none;
    color: #0f0f0f;
    transition: all 1s ease;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    text-decoration: none;
    list-style-type: none;
}

header {
    width: 100%;
    /*border: 1px solid red;*/
    /*设置最小宽度和main最小宽度相同，缩小后布局完整*/
    min-width: 1200px;
    position: relative;
}

header nav {
    font-weight: bold;
    margin: 0 auto;
    width: 100%;
    /*border: 1px solid red;*/
    padding-top: 15px;
    text-align: center;
    background-color: rgba(244, 244, 244, 0.0);
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    /*z-index：正数，离用户更近*/
    z-index: 1;
}

header nav ul li a {
    color: #f4f4f4;
    padding: 0 15px;
    margin: 10px;
    display: block;
    float: right;
    line-height: 15px;
}
header nav ul li:first-child a{
    font-size: 18px;
    float: left;
}
header nav ul li a:hover, #current_nav {
    color: #892809;
    /*background-color: rgba(20, 20, 20, 0.8);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.7);*/
    border-radius: 6px;
}

/*图片*/
header .article_image {

    clear: both;
    width: 100%;
    margin: 0 auto 10px;
    /*border: 1px solid red;*/
}

header .article_image figure {

    display: block;
    /*border: 1px solid green;*/
    position: relative;
}

header .article_image figure figcaption {
    color: white;
    font-size: 55px;
    font-weight: bolder;
    /*opacity：0.0-1.0透明到完全不透明*/
    opacity: 1;
    padding: 20px;
    /*绝对布局居中：https://www.cnblogs.com/yanglulin/p/5313670.html*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

header .article_image figure figcaption p {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

/*.article_image figure:hover figcaption {
    opacity: 1;
}*/

header .article_image figure {
    background: url("../../images/thyme_images/img_99.jpg");
    background-size: 100%;
    width: 100%;
    /*这里最小宽度和#main最小宽度相同，响应式效果*/
    min-width: 1200px;
    height: 320px;
}

/*导航部分结束*/
/*内容开始*/
/*外层高度设为自动，随内层高度增加，加上overflow，可以显示页脚？*/
#main {
    width: 100%;
    height: auto;
    overflow: hidden;
    /*这里最小宽度和图片最小宽度相同，响应式效果*/
    min-width: 1200px;
    /*border: 1px solid red;*/
}

.article-history {
    border-radius: 10px;
    background: linear-gradient(#212741, rgba(37, 43, 68,0.7)); /* 标准的语法（必须放在最后） */
    width: 1000px;
    min-height: 1650px;
    /*border: 1px solid blue;*/
    margin: 20px auto;
}

/*文章标签*/
.article-history-tag {
   padding-top: 10px;
    width: 950px;
    /*border: 1px solid black;*/
    min-height: 50px;
    margin:0 auto;
}

.article-history-tag a {
    font-size: 14px;
    margin: 0 2px 8px;
    line-height: 28px;
    border: none;
    display: inline-block;
    border-radius: 999em;
    /*inline只能设置left和right*/
    padding: 0 10px 0 12px;
    color: #feffe4;
    background-color: #005565;
    transition: all ease .4s;
    cursor: pointer;
    box-shadow: inset 0 50px 37px -30px rgba(255, 222, 197, 0.3), 0 0 13px rgba(0, 0, 0, 0.6);
    border-top: 1px solid #2f93b4;

}

.article-history-tag a:first-child {
    font-weight: 700;
    background-color: white;
    color: #005565;
    box-shadow: inset 0 50px 37px -30px rgba(255, 222, 197, 0.3), 0 0 13px rgba(0, 0, 0, 0.6);
}
.article-history-tag a:first-child:hover,.article-history-tag a:first-child:focus{
    box-shadow: inset 0 50px 37px -30px rgba(255, 222, 197, 0.3), 0 0 13px rgba(0, 0, 0, 0.6);
    border-top: 1px solid #005565;
    background-color: #005565;
    color: white;
}

.article-history-tag a:hover,.article-history-tag a:focus {
    border-top: 1px solid white;
    background-color: white;
    color: #005565
}

.article-history-tag a:focus {
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .239216) 0 1px 4px;
}

/*文章列表*/
.article-history-lists {

    /*border: 1px solid green;*/
    width: inherit;
    min-height: 200px;
    margin: 35px auto 10px;
}

.article-history-lists ul{
    margin: 0 auto ;
    width: 950px;
    /*border: 1px solid red;*/
}

.article-history-lists li {
    margin: 0 auto 10px;
    border-bottom:  1px solid #e3e2d7;
    display: inline-block;
    width: 950px;
    color: white;

}

.article-history-lists li a {
    color: white;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
    float: left;
    transition: all linear 0.1s;
}
.article-history-lists li a:hover{
    color: #2f93b4;
}

.article-history-lists li span {
    padding-right: 15px;
    float: right;
    font-size: 18px;
}

/*页脚开始*/
.foot {
    min-width: 1200px;
    margin-top: 20px;
    width: 100%;
    height: 110px;
    background-color: #1c1f21;
    font-size: 12px;
}

.foot ul {
    margin-left: 140px;
}

.foot ul li {
    margin-top: 30px;
    margin-left: 35px;
    display: inline-block;
}

.foot ul li a {
    float: left;
    text-decoration: none;
    color: white;
}

#ower {
    margin-left: 175px;
    color: #dddddd;
}

/*页脚结束*/
