/**
*@author :hly
*@github :github.com/SiriusHly
@blog :blog.csdn.net/Sirius_hly
*@date :2018/8/16
* admin相关所有css整合
*/
* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

body {

    width: 100%;
    background: white;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #707478
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #242a30
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    font-weight: 300;
    color: #7c7f83
}

a {
    transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;

}

ul, ol {
    text-decoration: none;
    list-style-type: none;
}
/*start admin_nav*/
header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #070705;

    /*border: 1px solid white;*/

}

header nav {
    margin: 0 auto;
    width: 1300px;
    text-align: center;
    height: 70px;
    padding-top: 10px;
    background-color: black;
    /*border: 1px solid white;*/

}

header nav ul li {
    line-height: 45px;
    margin: 0 8px;
}

header nav h4 {
    line-height: 25px;
    letter-spacing: 3px;
    color: #e75e12;
}

header nav ul .left_float {
    float: left;
}

header nav ul .right_float {
    float: right;
    margin: 0 15px;
}

header nav ul li a {
    color: #eff5ff;

}

header nav ul li a:hover {

}

header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/*end admin_nav*/
#page-container{
    position: relative;
    height: 870px;
    /*border: 1px solid black;*/
}
/*文章编辑开始*/
/*start article_editor*/
/*定义最小宽度*/
.main {

    /*border: 1px solid #431aff;*/
    height:100%;
    position: absolute;
    top: 70px;
    width: 100%;
    min-width: 1300px;

    /*border: 1px solid red;*/
}

/*隐藏滚动条，只有Google浏览器有效*/
/*.article_edit::-webkit-scrollbar{
    display: none;
}*/
.article_edit{

    overflow: auto;
    border: 1px solid blue;
    /*230sideBar显示时*/
    margin-left: 230px;
    margin-top: 10px;
    height: 700px;
}
.my_editor{

    margin-top: 20px;
    overflow: hidden;
    margin-left: 15px;
    /*border: 1px solid green;*/
    height: auto;
    width: 98%;

}
.article_edit .title{
    border: none;
    outline: none;
    background-color: #efefef;
    height: 30px;
    margin-top: 35px;
    width: 90%;
    margin-left: 4%;
    font-size: 15px;
    text-indent: 1em;
}

/*start article type*/

.article_type_select li{
    float: left;
    margin-left: 20px;
    font-size: 13px;
    color: black;


}
.article_type_select li:first-child{
   margin-left: 90px;

}

.article_type_select li:nth-child(odd){
    margin-top: 8px;
}


.article_type_select li select{
    width: 120px;
    height: 30px;
    padding: 5px 10px 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
    /*去掉点击后的边框*/
    outline: none;

}

/*end article type*/

/*编辑操作start*/

.article_operation{
    /*border: 1px solid green;*/
    margin-top: 70px;
    margin-bottom: 70px;
    height: 50px;
    width: 100%;


}

.article_operation input[type="button"]{
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 30px;
    padding: 5px 10px 5px;
    height: 35px;
    border: 1px solid #d32027;
    margin-top: 5px;
    background-color: white;
    color: #d32027;
}
.article_operation input[type="button"]:hover{
    color: white;
    background-color: #d32027;
}


.article_operation input[type="button"]:first-child{
    margin-left: 90px;
}
.article_operation input[type="button"]:last-child{
    border: 1px solid #6c757d;
    color: #6c757d;
}
.article_operation input[type="button"]:last-child:hover{
    background-color:#6c757d;
    color: white;
}

/*文章编辑结束*/
/*end article_editor*/
/*start admin_sidebar*/

.sidebar {
    /*display: block;*/
    width: 220px;
    background-color: #205b8f;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*z-index: 6;*/
    height: auto;


}

.sidebar .nav > li > a {
    padding: 8px 20px;
    color: #ffec10;
    line-height: 20px;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
    background: #232a2f;
    color: #fe3d14;

}

.sidebar .nav > li > a i {
    float: left;
    margin-right: 15px;
    width: 14px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #23d8ff;
}

.sidebar .nav > li > a .caret {
    float: right;
    margin-top: 9px;
}

/*最外层事件才有效不能写成.has-sub a:hover .sub-menu*/
/*.has-sub:hover .sub-menu{
    display: block;
    color: white;
}*/

.sidebar .sub-menu {
    padding: 10px 0 10px 30px;
    background: #1a2229;
    display: none;
}

.sidebar .has-sub a{
text-align: left;
}

.sidebar .sub-menu > li > a {
    padding: 5px 20px;
    display: block;
    font-weight: 300;
    color: #6d91ea;
    /*用作绝对定位的容器*/
    position: relative;
}

/*将元素之前插入内容*/
 .sidebar .sub-menu > li > a:before {
    content: '\f13d';
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    font-size: 7px;
    top: 50%;
    margin-top: -4px;
    margin-left: -6px;

}

.sidebar .sub-menu > li > a:focus, .sidebar .sub-menu > li > a:hover {
    color: #ff19d1
}

#admin-sidebar-button {
    position: absolute;
    /*动态页面百分比*/
    margin-left:42%;
    /*静态页面百分比*/
    /*margin-left:92%;*/
    margin-top: 45%;
    height: 50px;
    width: 17px;
    border-radius: 5px;
    background-color: rgba(254,61,20,0.7);
    color: black;
    border: none;
    outline: none;
}
/*end admin_sidebar*/





/*start foot*/
/*页脚开始*/
.foot {

    min-width: 1300px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 95px;
    background-color: #1c1f21;
    font-size: 12px;
}

.foot ul {
    margin-left: 140px;
}

.foot ul li {
    margin-top: 30px;
    margin-left: 35px;
    display: inline-block;
}

.foot ul li a {
    float: left;
    text-decoration: none;
    color: white;
}

#ower {
    margin-left: 175px;
    color: #dddddd;
}

/*页脚结束*/

.foot-iframe {
    border: 1px solid red;
    width: 100%;
    position: absolute;
    top: 0;
}

/*页脚结束*/

/*end foot*/

