/**
*@author :hly
*@github :https://github.com/huangliangyun
@blog :blog.csdn.net/Sirius_hly
*@date :2018/11/14
*/

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {

    width: 100%;
    background: white;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #707478
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #242a30
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    font-weight: 300;
}

a {
    color: black;
    transition: color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out

}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;

}

ul, ol {
    text-decoration: none;
    list-style-type: none;
}





/*分页查询*/

.page {
    text-align: center;
    margin: 22px auto 0px;
    font-size: 10px;

}

.page ul.pagination {
    /*https://www.cnblogs.com/hy-sunny/p/5602236.html*/
    /*行内块元素*/
    display: inline-block;
    padding: 0;
    margin: 0;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.page ul.pagination li {
    /*与其他元素在同一行上*/
    display: inline-block;
    margin: 5px 5px;

}

.page ul.pagination li a {
    color: black;
    float: left;
    padding: 10px 16px;
    transition: background-color .3s;
    text-decoration: none;
    border-radius: 50%;
}

.page ul.pagination li a.active {
    color: white;
    background-color: black;
}

.page ul.pagination li a:hover:not(.active) {
    background-color: #fe6c0b;
    color: #dddddd;
}

/*文章列表管理结束*/