<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>500</title>
    <link rel="shortcut icon" href="../../static/images/user/hly.jpg" type="image/x-icon" th:href="@{/images/user/hly.jpg}"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/error/404.css}" href="../../static/css/error/404.css" type="text/css" />
</head>
<body>
<div class="controller">
    <div class="objects">
        <!-- text area -->
        <div class="text-area rotate">
            <p class="error">Error 500</p>
            <p class="details">There was a problem<br/><br/>Server internal error.</p>
        </div>

        <div class="homepage rotate">
            <a th:href="@{/index}">Back to homepage</a>
        </div> <!-- home page -->
    </div> <!-- social-icons -->

</div>

</body>
</html>
