<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hly.sirius.dao.ArticleDao">

    <resultMap id="ArticleResult" type="Article">
        <result property="articleId" column="articleId"/>
        <result property="articleCreatorId" column="articleCreatorId"/>
        <result property="articleTitle" column="articleTitle"/>
        <result property="articleContent" column="articleContent"/>
        <result property="articleCategoryIds" column="articleCategoryIds"/>
        <result property="articleTags" column="articleTags"/>
        <result property="articleCreateTime" column="articleCreateTime"/>
        <result property="articleCommentStatus" column="articleCommentStatus"/>
        <result property="articleStatus" column="articleStatus"/>
        <result property="articleViewCount" column="articleViewCount"/>
        <result property="articleCommentCount" column="articleCommentCount"/>
        <result property="articleLikeCount" column="articleLikeCount"/>

    </resultMap>
    <!--SQLServer查询算符-->
    <!--<select id="articleList" parameterType="Map" resultMap="ArticleResult">
        SELECT TOP ${size} * FROM article WHERE article_id NOT IN(SELECT TOP ${(page-1)*size} article_id FROM article ORDER BY article_id DESC)ORDER BY article_id DESC;
    </select>-->



    <select id="articleCount" parameterType="Map" resultType="Integer">
        select COUNT (*) from article
    </select>

</mapper>