<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hly.sirius.dao.ArticleDao">

    <resultMap id="ArticleResult" type="Article">
        <result property="articleId" column="articleId"/>
        <result property="username" column="username"/>
        <result property="articleTitle" column="articleTitle"/>
        <result property="articleContent" column="articleContent"/>
        <result property="articleCreateTime" column="articleCreateTime"/>
        <result property="articleViewCount" column="articleViewCount"/>
        <result property="articleLikeCount" column="articleLikeCount"/>
        <result property="articleOrder" column="articleOrder"/>
    </resultMap>

    <sql id="addArticle">
        username,articleTitle,articleContent,articleCreateTime
    </sql>
    <!--SQLServer查询算符-->
    <!--<select id="articleList" parameterType="Map" resultMap="ArticleResult">
        SELECT TOP ${size} * FROM article WHERE article_id NOT IN(SELECT TOP ${(page-1)*size} article_id FROM article ORDER BY article_id DESC)ORDER BY article_id DESC;
    </select>-->
    <!--获得文章记录，可根据年月选择-->
    <select id="getArticleList" parameterType="Map" resultMap="ArticleResult">
        SELECT * FROM article
        <where>
            <if test="createYear!=null and createMonth!=null">
                year(articleCreateTime)= #{createYear} AND MONTH(articleCreateTime)= #{createMonth}
            </if>
            AND articleOrder !=0 order by articleOrder desc,articleId desc
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!--获得文章数目-->
    <select id="getArticleCount" parameterType="Map" resultType="Integer">
        select COUNT(*) from article
    </select>

    <!--添加文章,并返回文章id-->
    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="articleId"
            keyColumn="articleId">
        INSERT INTO article(
        <include refid="addArticle"/>
        )VALUES
        (#{username},#{articleTitle},#{articleContent},#{articleCreateTime});
    </insert>

    <!--根据文章id查询文章-->
    <select id="getArticleById" parameterType="integer" resultMap="ArticleResult">
        SELECT * FROM article
        <where>
            <if test="articleId!=null and articleId!=''">
                articleId = #{articleId}
            </if>
        </where>

    </select>

    <!--更新浏览量-->
    <update id="updateArticleViewCount" parameterType="integer">
        UPDATE article SET articleViewCount = articleViewCount+1 WHERE articleId = #{articleId}
    </update>

    <!--前一篇，序号小的，过去写的-->
    <select id="getPreArticle" parameterType="integer" resultMap="ArticleResult">
        SELECT * FROM article
        <where>
            articleId &lt; #{articleId} AND articleOrder !=0
        </where>
        ORDER BY articleId DESC
        limit 1
    </select>

    <!--后一篇，序号大的，现在写的-->
    <select id="getNextArticle" parameterType="integer" resultMap="ArticleResult">
        SELECT * FROM article
        <where>
            articleId &gt; #{articleId} AND articleOrder !=0
        </where>
        ORDER BY articleId
        limit 1
    </select>
    <!--查询文章对应的分类是否存在-->
    <select id="selectArticleCategory" parameterType="Map" resultType="java.util.HashMap">
        SELECT * FROM article_category WHERE articleId =#{articleId} AND categoryId = #{categoryId}
    </select>

    <!--插入文章所对应的分类-->
    <insert id="addArticleCategory" parameterType="Map">
        INSERT  INTO article_category (articleId,categoryId) VALUES (#{articleId},#{categoryId})
    </insert>

    <!--根据分类查找文章列表-->
    <select id="getArticleByCategoryId" parameterType="Map" resultMap="ArticleResult">
        SELECT * FROM article WHERE article.articleId IN(
        SELECT article_category.articleId FROM article_category WHERE article_category.categoryId IN(
        SELECT category.categoryId FROM category
        WHERE category.categoryId =#{categoryId}))
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <!--查询每年每个月所对应的文章数目-->
    <select id="getArticleByMonth" resultType="java.util.HashMap">
        SELECT YEAR(articleCreateTime) as createYear,MONTH(articleCreateTime) as createMonth,COUNT(1) AS articleNum FROM article GROUP BY YEAR(articleCreateTime) DESC,MONTH(articleCreateTime) DESC
    </select>

    <!--删除文章(article_category表)(有触发器,category表分类数目减1)-->
    <delete id="deleteArticleAndCategoryById" parameterType="integer">
        DELETE FROM article_category WHERE articleId = #{articleId}
    </delete>

    <!--删除文章article表-->
    <delete id="deleteArticleById" parameterType="integer">
        DELETE FROM article WHERE articleId = #{articleId}
    </delete>

    <!--更新文章-->
    <update id="updateArticle">
        UPDATE article SET articleTitle = #{articleTitle},articleContent = #{articleContent} WHERE articleId = #{articleId}

    </update>



</mapper>