<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hly.sirius.dao.CategoryDao">

    <resultMap id="CategoryResult" type="Category">
        <result property="categoryId" column="categoryId"/>
        <result property="categoryName" column="categoryName"/>
        <result property="categoryOrder" column="categoryOrder"/>
        <result property="categoryArticleNum" column="categoryArticleNum"/>
    </resultMap>

    <!--查询所有分类信息-->
    <select id="getCategories" resultMap="CategoryResult">
        SELECT * FROM category
    </select>

    <!--查询某个分类是否存在-->
    <select id="getCategory" parameterType="string" resultType="Integer">
        SELECT categoryId FROM category WHERE categoryName = #{categoryName}
    </select>

    <insert id="addCategory"  parameterType="Category" useGeneratedKeys="true" keyProperty="categoryId" keyColumn="categoryId">
        INSERT INTO category(categoryName) VALUES (#{categoryName});
    </insert>

    <update id="updateCategoryNum" parameterType="string">
        UPDATE category SET categoryArticleNum = categoryArticleNum+1 WHERE categoryName = #{categoryName}
    </update>
</mapper>